*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    filter: blur(8px);
    width: 100%;
    height: 100vh;
    background: rgba(79, 89, 81, 0.548) no-repeat center cover;
    /* background: url(./favicon.png) no-repeat center center/cover; */
    
    
}

.main{
    z-index: 2;
    height: 350px;
    width: 150px;
    
    position: absolute;
    top:345px;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.main img{
    
    width: 140px;
    opacity: 0;
    animation: animate 0.4s linear infinite;
}

.main img:nth-child(1){
    animation-delay: .3s;
}
.main img:nth-child(2){
    animation-delay: .2s;
}
.main img:nth-child(3){
    animation-delay: .1s;
}
.main img:nth-child(4){
    animation-delay: .0s;
}

@keyframes animate{

    to{
        opacity: 0;
        /* transform: scale(1.5); */
    }
    from{
        opacity: 1;
    }
    /* 0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    } */
}