*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    z-index: 2;
    height: 350px;
    width: 150px;
    
    position: absolute;
    top:345px;
    left: 50%;
    overflow: hidden;
}

/*  */